{% if product.metafields.c_f.g_alt %}
<div class="">
{% if product.metafields.c_f.g_alt == 1 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_1_92bee805-c8f1-4d07-86de-50516ddee239.svg?8848986212546349250" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 2 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_2_591ea726-555f-427d-b77d-80c29797e1ca.svg?8848986212546349250" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 3 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_3_40bbf07b-a657-4b33-a012-37339fb05159.svg?8848986212546349250" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 4 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_4_d232e777-aef4-417e-8dd7-629943d90dd0.svg?8848986212546349250" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 5 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_5_6be8f48a-9a5d-49a4-9ab2-19835833d382.svg?8848986212546349250" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 6 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_6_5a0edf6e-8af7-487b-baf1-8ce26a77f359.svg?8848986212546349250" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
<h4 class="metaInfo"><span>alt: </span>{{ product.metafields.c_f.altitude }} MASL</h4>
</div>
{% endif %}
