{% if product.metafields.c_f.g_alt %}
<div class="">
{% if product.metafields.c_f.g_alt == 1 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_1.svg?3528756842254518739" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 2 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_2.svg?3528756842254518739" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 3 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_3.svg?3528756842254518739" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 4 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_4.svg?3528756842254518739" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 5 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_5.svg?3528756842254518739" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
{% if product.metafields.c_f.g_alt == 6 %}
<img src="https://cdn.shopify.com/s/files/1/2013/2883/files/Alt_6.svg?15761069065193603969" alt="{{ product.metafields.c_f.altitude }} MASL">
{% endif %}
<h4 class="metaInfo"><span>alt: </span>{{ product.metafields.c_f.altitude }} MASL</h4>
</div>
{% endif %}
